@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
    font-family: 'Oswald', sans-serif !important;
}

.right-addon {
    position: relative;
}

.right-addon input {
    padding-right: 30px;
}

.right-addon span {
    position: absolute;
    right: 0;
    padding: 7px 12px;
    pointer-events: none;
}
