@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
    font-family: 'Oswald', sans-serif !important;
}

.right-addon {
    position: relative;
}

.right-addon input {
    padding-right: 30px;
}

.right-addon span {
    position: absolute;
    right: 0;
    padding: 7px 12px;
    pointer-events: none;
}

.test-class-container, #overviewChart {
    border: 1px;
    border-style: solid;
    border-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 4px;
}

.chartrow {
    height: 100px;
}

.js-plotly-plot .plotly .modebar {
    left: 20px;
    right: 50%;
}

.test-class-container .row {
    margin-left: 0px;
    margin-right: 0px;
}
